.landing-container {
	min-height: 90vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5rem 20rem;
	color: white;
	.image {
		flex: 1;
		img {
			width: 50rem;
			object-fit: contain;
			border-radius: 10rem;
		}
	}
	.description {
		flex: 1;
		padding-right: 10rem;
	}
	h2 {
		font-weight: lighter;
		font-size: 4rem;
	}
	h3 {
		margin-top: 10px;
		font-size: 3rem;
		font-weight: lighter;
	}
	p {
		padding: 3rem 0rem;
		color: #ccc;
		font-size: 1.4rem;
		line-height: 1.5;
	}
	button {
		font-size: 1.25rem;
	}
	@media (max-width: 1600px) {
		.image {
			flex: 1;
			display: flex;
			justify-content: center;
			img {
				width: 45rem;
				object-fit: contain;
				border-radius: 10rem;
			}
		}
	}
	@media (max-width: 1200px) {
		display: block;

		text-align: center;
		.image {
			flex: 1;
			img {
				width: 40rem;
				object-fit: contain;
				border-radius: 10rem;
			}
		}
		.description {
			padding-right: 0;
		}
	}
	@media (max-width: 768px) {
		display: block;
		padding: 2rem 2rem;
		text-align: center;
		.description {
			padding-right: 0;
		}
		.image {
			margin: 25px;
			flex: 1;
			img {
				width: 30rem;
				object-fit: contain;
				border-radius: 10rem;
			}
		}
	}
}

.row {
	display: flex;
}
