.libraryBook-container {
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: top;
	img {
		width: 30rem;
	}
	.book-details {
		padding-top: 3rem;
		padding-right: 20rem;
		h1 {
			color: white;
			font-size: 2.5rem;
			font-weight: lighter;
			padding-top: 2rem;
			text-decoration: underline;
			text-align: center;
			color: #23d997;
		}
		h4 {
			font-size: 2em;
			color: white;
			padding: 0.75em 1em 0.25em 1em;
			font-weight: normal;
		}
		.greenFont {
			color: #16e0bd;
		}
		p {
			font-size: 1.5rem;
			line-height: 1.5;
			color: whitesmoke;
			font-weight: lighter;
			text-align: justify;
			padding-top: 1rem;
			padding-left: 2rem;
		}
		.shop-container {
			padding: 5em 0;
			display: flex;
			justify-content: center;
			p {
				color: #16e0bd;
			}
			a:hover {
				transform: scale(1.25);
			}
		}
		.shop-container img {
			max-width: 5rem;
			width: 100%;
		}
		@media (max-width: 1650px) {
			padding-right: 20rem;
		}
		@media (max-width: 1350px) {
			padding: 0 5rem 0 5rem;
		}
		@media (max-width: 700px) {
			padding: 0 2.5rem 0 2.5rem;
		}
	}
	.cover-container {
		padding: 5rem 0rem 5rem 20rem;

		@media (max-width: 1650px) {
			padding: 5rem 0 20rem 20rem;
		}
		@media (max-width: 1350px) {
			display: flex;
			justify-content: center;
			padding: 5rem 0;
		}
	}
	@media (max-width: 1350px) {
		display: block;
		.book-details {
			p {
				padding-left: 0;
			}
		}
	}
}
